
.style-bold{
    font-weight: 400;
  }
  .card .display-4 .style-bold{
    position: relative;
    top: 50px;
  }

  .brdr{
    border: 2px solid rgba(230,230,230,0.6);
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* max-width: 300px; */
    width: 300px;
    height: 150px;
    margin: 40px;
    text-align: center;
    font-family: arial;
    cursor: pointer;
    border-radius: 13%;
    margin-left: 50px;
    border: 0px solid white;
    background: linear-gradient(to top right,
   rgb(6, 128, 177),
   rgb(1, 17, 37));
  border-radius: 5px;
  color: white;
  }

  .justify-content-center{
    align-items: center;
    margin-top: 5%;
  }

  .card:hover{
    transform: scale(1.075);
    transition-duration: 1s;
  }
