.teamcode {
  padding-left: 7%;
}
.projectkey {
  padding-right: 7%;
}
.btn-file {
  position: relative;
  overflow: hidden;
  color: #0070ad;
  font-size: 14px;
  background-color: white;
  border: none;
  line-height: 14px;
}
.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
}
.dropdown-menu {
  cursor: pointer;
}
