
  <div class="container px-5" style="height: 90vh;" >
    <div class="row">
      <div class="text-center" style="margin-left: 30%;">
        <div class="login-details">
          <div class="title">
            <div class="row pt-4">
              <div class="col-md-12 ">
                <strong class="title">Reset Password</strong>
              </div>
            </div>
          </div>
   
          <form [formGroup]="resetPasswordForm"  class="mx-auto pt-4">
            <div class="form-group pt-3">
   
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <span class="material-icons-outlined mat-icon">
                      vpn_key
                    </span>
   
                  </span>
                </div>
                <input [type]="fieldTextTypeOld ? 'text' : 'password'" class="form-control" formControlName="oldPassword"
                  placeholder="Old Password" />
                <div class="input-group-append">
                  <div class="input-group-text icon">
               
                    <div *ngIf="fieldTextTypeOld;then content else other_content">here is ignored</div>
                    <ng-template #content ><span class="material-icons-outlined mat-icon eye" (click)="toggleFieldTextTypeOld()">
                        visibility
                      </span></ng-template>
                    <ng-template #other_content><span class="material-icons-outlined mat-icon eye" (click)="toggleFieldTextTypeOld()">
                        visibility_off
                      </span></ng-template>
                  </div>
                </div>
              </div>
            </div>
   

            <div class="form-group pt-3">
   
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <span class="material-icons-outlined mat-icon">
                      vpn_key
                    </span>
   
                  </span>
                </div>
                <input [type]="fieldTextTypeNew ? 'text' : 'password'" class="form-control" formControlName="newPassword"
                  placeholder="New Password" />
                <div class="input-group-append">
                  <div class="input-group-text icon">
               
                    <div *ngIf="fieldTextTypeNew;then contentNew else other_contentNew">here is ignored</div>
                    <ng-template #contentNew ><span class="material-icons-outlined mat-icon eye" (click)="toggleFieldTextTypeNew()">
                        visibility
                      </span></ng-template>
                    <ng-template #other_contentNew><span class="material-icons-outlined mat-icon eye" (click)="toggleFieldTextTypeNew()">
                        visibility_off
                      </span></ng-template>
                  </div>
                </div>
              </div>
            </div>
   





            <div class="form-group pt-3">
   
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <span class="material-icons-outlined mat-icon">
                      vpn_key
                    </span>
   
                  </span>
                </div>
                <input [type]="fieldTextTypeConfirm ? 'text' : 'password'" class="form-control" formControlName="confirmPassword"
                  placeholder="Confirm Password" />
                <div class="input-group-append">
                  <div class="input-group-text icon">
               
                    <div *ngIf="fieldTextTypeConfirm;then contentConfirm else other_contentConfirm">here is ignored</div>
                    <ng-template #contentConfirm ><span class="material-icons-outlined mat-icon eye" (click)="toggleFieldTextTypeConfirm()">
                        visibility
                      </span></ng-template>
                    <ng-template #other_contentConfirm><span class="material-icons-outlined mat-icon eye" (click)="toggleFieldTextTypeConfirm()">
                        visibility_off
                      </span></ng-template>
                  </div>
                </div>
              </div>
            </div>
   




          <div class="row">
            <div class="button pt-4 mr-2">
              <button class="btn btn-outline btn-cg" (click)="gotoHome()" >
                Cancel
              </button>
            </div>
            <div class="button pt-4">
   
              <button class="btn btn-outline btn-cg" (ngSubmit)="resetPassword()" [ngClass]="{'disabled':!resetPasswordForm.valid || resetPasswordForm.controls['confirmPassword'].value!==resetPasswordForm.controls['newPassword'].value}">
                Reset
              </button>
            </div>
            
        </div>
          </form>
   
        </div>
      </div>
      
    </div>
   
  </div>
