
  <div class="container px-5" style="height: 90vh;" >
    <div class="row">
      <div class="text-center" style="margin-left: 30%;">
        <div class="login-details">
          <div class="title">
            <div class="row pt-4">
              <div class="col-md-12 ">
                <strong class="title">Reset Password</strong>
              </div>
            </div>
          </div>
   
          <form [formGroup]="resetPasswordForm"  class="mx-auto pt-4">
            <div class="form-group pt-3">
   
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <span class="material-icons-outlined mat-icon">
                      vpn_key
                    </span>
   
                  </span>
                </div>
                <input [type]="fieldTextTypeOld ? 'text' : 'password'" class="form-control" formControlName="oldPassword"
                  placeholder="Old Password" />
                <div class="input-group-append">
                  <div class="input-group-text icon">
               
                    <div *ngIf="fieldTextTypeOld;then content else other_content">here is ignored</div>
                    <ng-template #content ><span class="material-icons-outlined mat-icon eye" (click)="toggleFieldTextTypeOld()">
                        visibility
                      </span></ng-template>
                    <ng-template #other_content><span class="material-icons-outlined mat-icon eye" (click)="toggleFieldTextTypeOld()">
                        visibility_off
                      </span></ng-template>
                  </div>
                </div>
              </div>
            </div>
   

            <div class="form-group pt-3">
   
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <span class="material-icons-outlined mat-icon">
                      vpn_key
                    </span>
   
                  </span>
                </div>
                <input [type]="fieldTextTypeNew ? 'text' : 'password'" class="form-control" formControlName="newPassword"
                  placeholder="New Password" />
                <div class="input-group-append">
                  <div class="input-group-text icon">
               
                    <div *ngIf="fieldTextTypeNew;then contentNew else other_contentNew">here is ignored</div>
                    <ng-template #contentNew ><span class="material-icons-outlined mat-icon eye" (click)="toggleFieldTextTypeNew()">
                        visibility
                      </span></ng-template>
                    <ng-template #other_contentNew><span class="material-icons-outlined mat-icon eye" (click)="toggleFieldTextTypeNew()">
                        visibility_off
                      </span></ng-template>
                  </div>
                </div>
              </div>
            </div>
   





            <div class="form-group pt-3">
   
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <span class="material-icons-outlined mat-icon">
                      vpn_key
                    </span>
   
                  </span>
                </div>
                <input [type]="fieldTextTypeConfirm ? 'text' : 'password'" class="form-control" formControlName="confirmPassword"
                  placeholder="Confirm Password" />
                <div class="input-group-append">
                  <div class="input-group-text icon">
               
                    <div *ngIf="fieldTextTypeConfirm;then contentConfirm else other_contentConfirm">here is ignored</div>
                    <ng-template #contentConfirm ><span class="material-icons-outlined mat-icon eye" (click)="toggleFieldTextTypeConfirm()">
                        visibility
                      </span></ng-template>
                    <ng-template #other_contentConfirm><span class="material-icons-outlined mat-icon eye" (click)="toggleFieldTextTypeConfirm()">
                        visibility_off
                      </span></ng-template>
                  </div>
                </div>
              </div>
            </div>
   




          <div class="row">
            <div class="button pt-4 mr-2">
              <button class="btn btn-outline btn-cg" (click)="gotoHome()" >
                Cancel
              </button>
            </div>
            <div class="button pt-4">
   
              <button class="btn btn-outline btn-cg" (ngSubmit)="resetPassword()" [ngClass]="{'disabled':!resetPasswordForm.valid || resetPasswordForm.controls['confirmPassword'].value!==resetPasswordForm.controls['newPassword'].value}">
                Reset
              </button>
            </div>
            
        </div>
          </form>
   
        </div>
      </div>
      
    </div>
   
  </div>


  
  














<!-- <div class="forms-container">
  <div class="signin-signup">
    <form class="sign-in-form" #loginfrm="ngForm" (ngSubmit)="resetPassword()">
      <h2 class="title">Reset Password</h2>


      <div class="input-field">
        <em class="fa fa-lock"></em>
        <input
          #Oldpassword="ngModel"
          ngModel
          required
          [class.is-invalid]="Oldpassword.invalid && Oldpassword.touched"
          type="password"
          name="Oldpassword"
          placeholder=" Old Password"
          class="form-control"
          
          [(ngModel)]="resetForm.oldPassword"
        />
      </div>



      <div *ngIf="Oldpassword.errors && Oldpassword.invalid && Oldpassword.touched">
        <span class="text-danger" *ngIf="Oldpassword.errors?.required"
          >Old Password cannot be null</span
        >
       
      </div>



      <div class="input-field">
          <em class="fa fa-lock"></em>
          <input
            #Newpassword="ngModel"
            ngModel
            required
            [class.is-invalid]="Newpassword.invalid && Newpassword.touched"
            type="password"
            name="newpassword"
            placeholder="New Password"
            class="form-control"
            [(ngModel)]="password"
          
          />
        </div>



        <div *ngIf="Newpassword.errors && Newpassword.invalid && Newpassword.touched">
          <span class="text-danger" *ngIf="Newpassword.errors?.required"
            >New Password cannot be null</span
          >
         
        </div>

      <div class="input-field">
          <em class="fa fa-lock"></em>
          <input
            #Confirmpassword="ngModel"
            ngModel
            required
            [class.is-invalid]="Confirmpassword.invalid && Confirmpassword.touched"
            type="password"
            name="Confirmpassword"
            placeholder="Confirm Password"
            class="form-control"
            
            [(ngModel)]="resetForm.newPassword"
          />
        </div>



        <div *ngIf="Confirmpassword.errors && Confirmpassword.invalid && Confirmpassword.touched">
          <span class="text-danger" *ngIf="Confirmpassword.errors?.required"
            >Password cannot be null</span>
           
         
        </div>

        <div *ngIf="Confirmpassword.touched">
          
            <span class="text-danger" *ngIf="password !== resetForm.newPassword"
            >Password do not match</span>
         
        </div>
      
     
<div class= "row">


      <input
        type="submit"
        id="sign-button"
        value="Reset"
        class="disable-btn solid"
        [hidden]="loginfrm.form.valid && password == resetForm.newPassword"
        [disabled]="!loginfrm.form.valid"
      />
      <input
        type="submit"
        id="sign-button"
        value="Reset"
        class="btn solid"
        [hidden]="!loginfrm.form.valid || password !== resetForm.newPassword"
      />

      <button
      class="cancel-btn solid"
      (click)= "gotoHome()">Cancel
    </button>

</div>
    </form>
  </div>
</div> -->