<!-- Slideshow Implementation -->
<div class=" text-center" [ngClass]="{'slideshow-bg': slideshowService.isSlideshowRunning}">
    <div class=" slide-image-viewer" *ngIf="slideshowService.isSlideshowRunning && is_image">
      <div>
  
        <img class="shadow slideshow-image" [src]="currentItem" alt="" />
      </div>
    </div>
    <div *ngIf="slideshowService.isSlideshowRunning && is_video">
      <vg-player *ngIf="currentItem" (onPlayerReady)="onPlayerReady($event)" (tap)="onTap()">
        <vg-buffering></vg-buffering>
  
        <vg-controls>
          <vg-play-pause></vg-play-pause>
          <vg-playback-button></vg-playback-button>
  
          <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
  
          <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>
  
          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
  
          <vg-mute></vg-mute>
          <vg-volume></vg-volume>
  
          <vg-fullscreen></vg-fullscreen>
        </vg-controls>
  
  
        <video #media [vgMedia]="media" [src]="currentItem" id="singleVideo" autoplay="true" crossorigin></video>
      </vg-player>
    </div>
  </div>