<!-- 
<div *ngFor="let permission of generalService.getPermissions()">
  <div *ngIf="generalService.addTeam == permission">
    <input
          type="submit"
       
          value="Add Team"
          class="btn solid"
          (click)="showAddTeam()"
        />
  </div>
</div>


<div *ngFor="let permission of generalService.getPermissions()">
  <div *ngIf="generalService.viewTeams == permission">
    <input
          type="submit"
       
          value="View All Teams"
          class="btn solid"
         (click)="displayViewAllTeams()"
        />
  </div>
</div> -->

<div class="navigation">
  <ul>
    <li class="list" (click)="changeActive(1); showAddTeam()">
      <b></b>
      <b></b>
      <a>
        <span class="title">Add Team</span>
      </a>
    </li>
    <li class="list active" (click)="changeActive(2); displayViewAllTeams()">
      <b></b>
      <b></b>
      <a>
        <span class="title">Teams</span>
      </a>
    </li>
  </ul>
</div>
