
  .btn-file {
    position: relative;
    overflow: hidden;
    color: #0070AD;
    font-size: 16px;
    background-color: white;
    border: none;
    margin-top: 2%;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;  
    cursor: inherit;
    display: block;
  }

  .icon{
    
    cursor: pointer;
    line-height: 24px;
    /* identical to box height, or 150% */
    font-weight: 500;
    letter-spacing: 0.25px;
  }

  .action-button{
    cursor: pointer;
    color: #0070AD;
    line-height: 24px;

    /* identical to box height, or 150% */

    letter-spacing: 0.25px;
  }
  
  .mat-icon{
    color: #0070AD;
    cursor: pointer;
    font-size: inherit;
    vertical-align: middle;
    padding-bottom: 3px;

  }

  
 .modal-header{
  border-bottom: none;
  padding-bottom: 0%;
}
.modal-body{
  padding: 2rem;
  padding-top: 1%;
}

.btn-basic{
 border: 2px solid grey;
 Width :125px;  
 border-radius: 30px;
}

.btn-custom {
 background-color: white;
 color: grey;
 cursor: pointer;
}


.btn-cg{
 
 color: #0070AD;
 border-color:  #0070AD;

 }

 .checkbox{
   border: #0070AD;
   
 }

 .btn-cg:hover{
   background-color: #0070AD;
   color: white;
 }
 .title{
   color: #525151;
 }
