
  .btn-file {
    position: relative;
    overflow: hidden;
    color: #0070AD;
    font-size: 16px;
    background-color: white;
    border: none;
    margin-top: 2%;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;  
    cursor: inherit;
    display: block;
  }

  .icon{
    
    cursor: pointer;
    line-height: 24px;
    /* identical to box height, or 150% */
    font-weight: 500;
    letter-spacing: 0.25px;
  }

  .action-button{
    cursor: pointer;
    color: #0070AD;
    line-height: 24px;

    /* identical to box height, or 150% */

    letter-spacing: 0.25px;
  }
  
  .mat-icon{
    color: #0070AD;
    cursor: pointer;
    font-size: inherit;
    vertical-align: middle;
    padding-bottom: 3px;

  }

  .white-mat-icon{
    color: white;
    cursor: pointer;
    font-size: inherit;
    vertical-align: middle;
    padding-bottom: 3px;

  }

  
 .modal-header{
  border-bottom: none;
  padding-bottom: 0%;
}
.modal-body{
  padding: 2rem;
  padding-top: 1%;
}

.btn-basic{
 border: 2px solid grey;
 Width :125px;  
 border-radius: 30px;
}

.btn-custom {
 background-color: white;
 color: grey;
 cursor: pointer;
}


.btn-cg{
 
 color: #0070AD;
 border-color:  #0070AD;

 }

 .checkbox{
   border: #0070AD;
   
 }

 .btn-cg:hover{
   background-color: #0070AD;
   color: white;
 }
 .title{
   color: #525151;
 }
 .selectCheckbox{
  align-items: baseline;
  margin-top: 8px;
 }

 .slideshowicon {
  vertical-align: middle;
  margin-bottom: 3px;
  color: #0070AD;
  align-items: baseline;
  font-size: 16px;
}

.slideshowgreyicon{
  font-size: 17px;
  color: grey;
  margin-top: 4px;
  margin-right: 3px;
  margin-left: 3px;
  vertical-align: middle;
  padding-bottom: 4px;
}

.slideshowWhiteicon{
  font-size: 17px;
  color: white;
  margin-top: 4px;
  margin-right: 3px;
  margin-left: 3px;
  vertical-align: middle;
  padding-bottom: 4px;
}
.highlightTextArea{
  width: 160px;
  color: white;
  font-size: 16px;
   font-weight: 500;
 background-color: #0070AD;
    cursor: pointer;
    padding-left: 5px;
    margin-top: 5px;
}

.unhighlightedTextArea{
  font-size: 16px;
   font-weight: 500;
   color: black;
   cursor: pointer;
   padding-left: 5px;
   margin-top: 5px;
}

.pointer{
  cursor: pointer;
}
.unhighlighted{
font-size: 16px; 
font-weight: 500; 
color:#0070AD;
}
.highlighted{
background-color: #0070AD;
 width: 145px; 
 cursor: pointer;
}
.highlightedText{
font-size: 16px;
 font-weight: 500;
 color: white;
}
.EmptyFolder{
  margin-top: 40px;
}


.btn-cg-color{
  
  color: #0070AD;
  border-color:  #0070AD;

  }

  .btn-cg-color:hover{
    background-color: #0070AD;
    color: white;
  }