<!-- 

<div *ngIf="clientStatus?.clientSatisfactionRating < 6.6 ">
    <div *ngIf="clientStatus?.clientSatisfactionRating < 3.4 then content else other_content"> </div>
    <ng-template #content>
        <div class="ClientSatisfaction" id="critical" >
            
            <div class='ClientGauge'>
                <div echarts [options]="chartOption"   class="demo-chart" style="height: 170px; width: 170px;"></div>
            </div>
            <div class="circle" ><img class="emoji" src="assets/Images/red.jpeg"></div>
        </div>
    </ng-template>
    <ng-template #other_content>
        <div class="ClientSatisfaction" id="normal">
            
            <div class='ClientGauge'>
                <div echarts [options]="chartOption" class="demo-chart" style="height: 170px; width: 170px;"></div>
            </div>
            
            <div class="circle"><img class="emoji" src="assets/Images/orange.png"></div>
        </div>
    </ng-template>
   
    
</div>
<div  class="ClientSatisfaction" id="good" *ngIf ="clientStatus?.clientSatisfactionRating > 6.6">
    
    <div class='ClientGauge'>
        <div echarts [options]="chartOption" class="demo-chart" style="height: 170px; width: 170px;"></div>
    </div>
    <div class="circle" *ngIf = "clientStatus?.clientSatisfactionRating > 6.6"><img class="emoji" src="assets/Images/green.jpeg"></div>
</div>
<h5 class="title">Client Satisfaction</h5>

 -->

<div class="row">
  <div class="col-md-12" style="font-weight: 500">Client Satisfaction</div>
  <div class="col-md-12 mt-1" style="height: 120px; overflow: hidden">
    <div class="row">
      <div class="col-md-6">
        <div *ngIf="clientStatus?.clientSatisfactionRating < 6.6">
          <div
            *ngIf="
              clientStatus?.clientSatisfactionRating < 3.4;
              then content;
              else other_content
            "
          ></div>
          <ng-template #content>
            <div
              echarts
              [options]="chartOption"
              style="height: 200px; width: 200px"
            ></div>
          </ng-template>
          <ng-template #other_content>
            <div
              echarts
              [options]="chartOption"
              style="height: 200px; width: 200px"
            ></div>
          </ng-template>
        </div>
        <div *ngIf="clientStatus?.clientSatisfactionRating > 6.6">
          <div
            echarts
            [options]="chartOption"
            style="height: 200px; width: 200px"
          ></div>
        </div>
        <div *ngIf="!componentReady">
          <h3>Data unavailable</h3>
        </div>
      </div>
      <div class="col-md-6">
        <div *ngIf="clientStatus?.clientSatisfactionRating < 6.6">
          <div *ngIf="clientStatus?.clientSatisfactionRating < 3.4">
            <div><img class="emoji" src="assets/Images/red.jpeg" /></div>
          </div>
          <div *ngIf="clientStatus?.clientSatisfactionRating > 3.3">
            <div><img class="emoji" src="assets/Images/orange.png" /></div>
          </div>
        </div>
        <div *ngIf="clientStatus?.clientSatisfactionRating > 6.5">
          <div><img class="emoji" src="assets/Images/green.jpeg" /></div>
        </div>
        <div *ngIf="!componentReady">
          <h3>Data unavailable</h3>
        </div>
      </div>
    </div>
  </div>
</div>
