<div class="row">
  <div class="col-md-12" style=" font-weight: 500;    margin-bottom: 5px;">Code Quality
    <span *ngIf="codeQuality == null" style="color: gray">(Data unavailable)</span>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
          <div *ngIf="codeQuality?.status != 'PASSED'"> 
              <div class="text-danger"><h5>FAILED</h5></div>
          </div>
          <div *ngIf="codeQuality?.status == 'PASSED'"> 
              <div class="text-success"><h5>PASSED</h5></div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="row">
              <span *ngIf="codeQuality?.bugs < 10"><h5>0{{codeQuality?.bugs}}</h5></span>
              <span *ngIf="codeQuality?.bugs > 9" ><h5>{{codeQuality?.bugs}}</h5></span>
              <div class="align-text-bottom"> &nbsp; Bugs</div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="row ml-1">
              <span><h5>{{codeQuality?.codeSmells}}</h5></span>
              <div class="align-text-bottom">&nbsp; Code Smells</div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="row">
              <span><h5>{{codeQuality?.codeCoverage}}%</h5></span>
              <div class="align-text-bottom"> &nbsp;Code Coverage</div>
          </div>
      </div>
    </div>
  </div>
</div>