<div class="navigation">
  <ul>
    <li class="list active" (click)="changeActive(1); showEditTeam()">
      <!-- <b></b>
            <b></b> -->
      <a>
        <span class="title">Edit Team</span>
      </a>
    </li>
    <li class="list" (click)="changeActive(2); showViewTeamMember()">
      <!-- <b></b>
            <b></b> -->
      <a>
        <span class="title">View Members</span>
      </a>
    </li>
    <!-- <li class="list" (click)="changeActive(3);showAddTeamMember()">
           
              <a>
                <span class="title">Add Member</span>
              </a>
            </li> -->

    <!-- <li class="list" (click)="changeActive(4);showLogo()">
       
        <a>
          <span class="title">Logo</span>
        </a>
      </li> -->
    <li class="list" (click)="changeActive(3); showTeamLink()">
      <!-- <b></b>
      <b></b> -->
      <a>
        <span class="title">Links</span>
      </a>
    </li>
    <!--  <li class="list" (click)="changeActive(6);showTeamLink()">
        
          <a>
            <span class="title">Team Links</span>
          </a>
        </li> -->
    <li class="list" (click)="changeActive(4); showMultimedia()">
      <!-- <b></b>
            <b></b> -->
      <a>
        <span class="title">Multimedia</span>
      </a>
    </li>
    <!-- <li class="list" (click)="changeActive(8);showVideos()">
              
                  <a>
                    <span class="title">Videos</span>
                  </a>
                </li> -->
    <!-- <li class="list" (click)="changeActive(9);showSendToTeamSpirit()">
                    
                      <a>
                        <span class="title">Team Spirit Data</span>
                      </a>
                    </li> -->
  </ul>
</div>
