.row-text{
  color: #2B0A3D;
  text-align: initial;
}

.main-container{
  height:100%;
  width:98%;
  padding-top: 5%;
  padding-left: 3%;
}
.popup-container{
  height: 86%;
  padding-top: 2%;
  padding-left: 3%;
}
.popup-heading{
  color: #0070AD; 
  font-size: 25px; 
  font-weight: 400; 
  margin-bottom: 2%;
}
.alignment{
  text-align: initial;
}

.link{
  cursor: pointer;
}

.text-weight{
  font-weight: 500;
}

.margin-mail{
  padding-left: 8%;
}

.margin-role{
  padding-left: 2%;
}

.margin-access{
  padding-right: 0%;
}

.margin-delete{
  padding-left: 1%;
}

.icon{
  color: #0070AD;
  cursor: pointer;
}


.mat-icon{
  color: #0070AD;
  font-size: inherit;
  vertical-align: middle;
  padding-bottom: 3px;
}

.spacing{
  max-width: 80%;
}

.btn-basic{
  border: 2px solid grey;
  Width :125px;  
  border-radius: 30px;
}

.btn-custom {
  background-color: white;
  color: grey;
  cursor: pointer;
}


.btn-cg-color{
  
  color: #0070AD;
  border-color:  #0070AD;

  }

  .btn-cg-color:hover{
    background-color: #0070AD;
    color: white;
  }

  .modal-header{
    border-bottom: none;
    padding-bottom: 0%;
  }
  .modal-body{
    padding: 2rem;
    padding-top: 1%;
  }
  .title{
    color: #525151;
  }

  .btn-cg{
 
    Width :157px;
    Height :36px;
    margin-left: 10px;
    
    /* Primary/Capgemini blue */
    color: #0070AD;
    border: 2px solid #0070AD;
    
    border-radius: 30px;
    padding-top: 2%;
    }
    
    .btn-cg:hover{
      color: white;
      background-color: #0070AD;
      border: none;
    }