  .text-danger {
    color: red;
  }

  input{
    width: 314px;
height: 40px;
  }

  .title{
    color: #0070AD;
    font-size: 35px;
    font-weight: 700;
    letter-spacing :0.25px;
    position: relative;
    bottom: -8px;
  }
  .icon{
    color: #0070AD;
  }

  .mat-icon{
    color: #0070AD;
    font-size: inherit;
    vertical-align: middle;
    padding-bottom: 3px;
  }
  .logo{
    font-size: 200%;
    margin-top: 3%;
  }
  

  .input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.btn-cg{


Width :157px;
Height :36px;


/* Primary/Capgemini blue */
color: #0070AD;
border: 2px solid #0070AD;

border-radius: 30px;
padding-top: 2%;
}

.btn-cg:hover{
  color: white;
  background-color: #0070AD;
  border: none;
}

.disabled {
  pointer-events: none;
}
  

  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}


  .login-image{
    width: 90%;
    height: 80%;
  }

  .login-details{
    padding-top: 30%;
  }

  
  .forms-container {
  
    width: 100%;
    height: 100%;
   
  }
  
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
    

  
  .input-field {

    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
  .input-field i {
    text-align: center;
    line-height: 35px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  .input-field input {


    width: 314px;
    height: 40px;
   
    line-height: 31;
    font-weight: 100;
    font-size: 1.0rem;
    color: #333;
  }
  
  .input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
  }

  .form-group{
    width: 314px;
    height: 40px;
  }

  .guest{
    cursor: pointer;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    align-content: center;
    justify-content: center;
    color: #0070AD;
    padding-left: 84%;
    
  }
  .mat-icon{
    color: #0070AD;
    font-size: 20px;
    vertical-align: middle;
    padding-bottom: 3px;
  }
  .eye{
    cursor: pointer;
  }
  .guestTest{
    color: #0070AD;
    font-size: 15px;
    font-weight: 100;
  }

  .guestTest:hover{
   font-size: 16px;
   font-weight: 250;
   text-decoration: underline;
}
.Logo{
   height: 31.36px;
    width: 128px;
    cursor: default;
    margin-left: 31%;
    margin-top: 75px; 
    
}