<!-- <div>
    <div class="row ml-3 mt-2 col-md-10" *ngFor="let guest of guests; index as i">
        <div class="mt-2 col-md-2">{{i +1}}</div>
        <div class="mt-2 col-md-3">{{guest.username}}</div>
        <div class="mt-2 col-md-3">{{guest.email}}</div>
  
    
        <div class="row ml-3 col-md-4">
        <input
        type="submit"
        value="Delete"
        class="btn solid"
        (click)="deleteGuest(guest.id)"
      />
      
      </div>
    </div>
</div> -->




<div style="margin: 20px;">
<h3>Guests</h3>

<table class="table caption-top">
 
  <thead>
    <tr >
      <th scope="col">S No.</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let guest of guests; index as i">
      <th scope="row">{{i +1}}</th>
      <td>{{guest.username}}</td>
      <td>{{guest.email}}</td>
      <td>
        
      <i class="fa fa-trash-o" title = "delete" aria-hidden="true"(click)="openModel(); storeDeleteId(guest.id)"></i>
      </td>
    </tr>
  </tbody>
</table>
</div>


<div id="id01" class="modal">
  <span (click)="hideModel()" class="close" title="Close Modal">×</span>
  <form class="modal-content">
    <div class="container">
      <h1>Delete Guest</h1>
      <p>Are you sure you want to delete guest?</p>
    
      <div class="clearfix">
        <button type="button" (click)="hideModel()" class="cancelbtn">Cancel</button>
        <button type="button" (click)="hideModel();deleteGuest()" class="deletebtn">Delete</button>
      </div>
    </div>
  </form>

  <div id="snackbar"></div>