<div [ngClass]="setupService.isTeamConfigured ? 'main-container' : 'popup-container'" >
  <div class="col-md-12 text-center">
    <div *ngIf="!setupService.isTeamConfigured" class="popup-heading">Team Configuration</div>
  </div>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-md-1"></div>
      <table class="table table-borderless col-md-6">
        <caption></caption>
        <tbody>
          <tr>
            <th id="center">AD Center</th>
            <td>
              <div class="row" style="padding-left: 30px">
                <div>
                  {{ team.adCenter }}
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th id="Team_Name">Team Name</th>
            <td>
              <div class="row" style="padding-left: 30px">
                <div>
                  {{ team.teamName }}
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th id="Team_code">Team Code</th>
            <td>
              <div class="row">
                <div class="form-group input-field">
                  <input
                    class="form-control"
                    placeholder="{{ team.teamCode }}"
                    formControlName="teamCode"
                  />
                </div>
              </div>
            </td>
            <td>
              <span class="material-icons-outlined mat-icon">
                mode
                </span>
            </td>
          </tr>
          <tr>
            <th id="Prokey_key">Project Key</th>

            <td>
              <div class="row">
                <div class="form-group input-field">
                  <input
                    class="form-control"
                    placeholder="{{ team.projectKey }}"
                    formControlName="projectKey"
                  />
                </div>
              </div>
            </td>
            <td>
              <span class="material-icons-outlined mat-icon" >
                mode
                </span>
            </td>
          </tr>

          <tr *ngIf="setupService.isTeamConfigured">
            <td colspan="2">
              <div style="display: flex; justify-content: center">
                <div class="button">
                  <button class="btn btn-outline btn-cg" (click)="submitForm()">
                    Update
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-md-5 text-center row" style="justify-content: center">
        <div>
          <div class="row" style="justify-content: center"> 
            <img
              class="logo" id="output"
              alt=""
              *ngIf="isLogo"
              src= "{{editLogoPath}}"
            />
            <img
              class="logo"
              alt=""
              *ngIf="!isLogo"
              [src]="aws_asset+'layoutAssets/logo/noLogo.png' "
            />
            <div class="spinnerPosition" *ngIf="spinner">
            <div class="spinner-border"></div>
            </div>
            <span class="material-icons-outlined mat-icon" *ngIf="isLogo" (click)="setDeleteLogo()">
              delete_outline
              </span>
          </div>
          <div class="form-group col">
            <span class="btn btn-primary btn-file">
              <span class="material-icons-outlined" style="font-size: 14px;">
                upload
                </span>
                <span style="font-size: 14px;">
                  Upload Logo
                </span>
               <input type="file" (change)="uploadFile($event)" accept=".png,.jpeg,.jpg,.gif"/>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!setupService.isTeamConfigured" class="row justify-content-end mt-2 mr-2">
      <div class="button mr-4" (click)="skip()">
        <button class="btn btn-outline btn-cg">
          Skip
        </button>
      </div> 
      <div class="button mr-4"  (click)="saveAndNext()">
        <button class="btn btn-outline btn-cg" >
          Save & Continue
        </button>
      </div>     
    </div>
  </form>
</div>
