.container{
  margin-left: 7%; 
  margin-right: 7%; 
  width: 86%;
  margin-bottom: 2%;
  padding-top: 1%;
}
.kpi{
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
  padding-top: 8px;      
}

.bg-height{
  height: 78vh;
} 

.dot
  {
    height: 20px;
    width: 20px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid white;
    margin-top: 1%;
    margin-right: 5px;
    
  }
  .protecttitle
  {
    padding-right: 10px;
    margin-top: 2px;
    font-size: 13px;
    margin-left: 5px;

  }
  .sprintno
  {
      font-weight: 600;
      font-size: 15px;
  }
 
.webHeight{
  min-height: calc( 90vh - 40px );
  background-color: #f4f8fb;
}
.slideshowHeight{
  background-color: #f4f8fb;
  height: 100vh;
}

.TextAlign{
  text-align: center;
  padding-top: 10%;
}