<nav
  class="navbar navbar-expand-lg navbar-light"
  *ngIf="generalService.getLoginComplete()"
  id="navbarborder"
>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand"
      ><img src="assets/layoutAssets/navbar/logo1.png" class="logo"
    /></a>
    <ul
      class="navbar-nav mr-auto mt-2 mt-lg-0"
      style="
        border-left: 2px solid #0070ad;
        padding-left: 5px;
        height: 30px;
        padding-bottom: 40px;
      "
    >
      <li class="nav-item active" [routerLink]="['/projects']">
        <a class="nav-link"
          ><span class="material-icons-outlined mat-icon-home"> home </span
          ><b style="margin-left: 5px; font-size: 20px">Powerboard</b></a
        >
      </li>
    </ul>
    <ul class="navbar-nav inline my-2 my-lg-0">
      <li
        class="pr-3"
        *ngIf="generalService.isSettingsVisible"
        [routerLink]="['/config']"
      >
        <!-- <i class="fa fa-cog fa-2x" aria-hidden="true"></i> -->
        <span class="material-icons-outlined mat-icon"> settings </span>
        <b class="text-style ml-1">Configuration</b>
      </li>
      <li class="pl-3" (click)="generalService.logout()">
        <span class="material-icons mat-icon"> exit_to_app </span
        ><b class="text-style ml-1">Leave</b>
      </li>
    </ul>
  </div>
</nav>

<nav
  class="navbar navbar-expand-lg navbar-light"
  *ngIf="generalService.showNavBarIcons"
  id="subnavbar"
>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" style="font-size: 16px" (click)="back()">
      <span class="material-icons-outlined mat-icon"> chevron_left </span>
      <span class="text-style" style="color: #0070ad; font-weight: bold">
        Back
      </span></a
    >
    <ul
      class="navbar-nav mr-auto mt-2 mt-lg-0"
      style="padding-left: 85px; font-size: 22px"
    >
      <li class="nav-item active">
        <a class="nav-link"
          ><b style="margin-left: 5px">{{ getTeamName() }}</b></a
        >
      </li>
      <li style="margin-left: 130px" *ngIf="generalService.isDashboardVisible">
        <div class="button">
          <button
            class="btn btn-outline btn-cg"
            id="dashboard"
            (click)="highlight('dashboard')"
            [routerLink]="['/dashboard']"
          >
            Dashboard
          </button>
        </div>
      </li>

      <li *ngIf="generalService.isLinksVisible">
        <div class="button">
          <button
            class="btn btn-outline btn-cg"
            id="links"
            (click)="highlight('links')"
            [routerLink]="['/links']"
          >
            Links
          </button>
        </div>
      </li>

      <li>
        <div class="button">
          <button
            class="btn btn-outline btn-cg"
            id="multimedia"
            (click)="highlight('multimedia')"
            [routerLink]="['/multimedia']"
          >
            Multimedia
          </button>
        </div>
      </li>
      <span>{{ checkLocation() }}</span>
    </ul>
  </div>
</nav>

<div *ngIf="!generalService.getLoginComplete()"><app-auth></app-auth></div>
<div *ngIf="generalService.getLoginComplete()" class="bg">
  <router-outlet></router-outlet>
</div>


