body {
  font-family: "Montserrat", "Lato", "Open Sans", "Helvetica Neue", Helvetica,
    Calibri, Arial, sans-serif;
  color: #6b7381;
  background: #f2f2f2;
}

.bg {
  background-color: #f4f8fb;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mat-icon {
  color: #0070ad;
  font-size: inherit;
  vertical-align: middle;
  padding-bottom: 3px;
  cursor: pointer;
}

.text-style {
  cursor: pointer;
  color: #0070ad;
  font-size: 18px;
}





/* nav bar css starts */

#navbarborder {
  /* border: 1px solid black ; */
  background-color: #fefefe;
  padding-right: 8.8%;
  padding-top: 3px;
}

.logo {
  height: 31.36px;
  width: 128px;
  cursor: default;
}
.fa-2x {
  font-size: 20px;
  color: #2b0a3d;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  padding-left: 8.8%;
}

i,
a {
  cursor: pointer;
}

#subnavbar {
  background-color: #fafafa;
  padding-right: 8.8%;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  height: 50px;
  line-height: 20px;
}

.btn-cg {
  width: 157px;
  height: 36px;
  margin-left: 10px;

  /* Primary/Capgemini blue */
  color: #0070ad;
  border: 2px solid #0070ad;

  border-radius: 30px;
  padding-top: 2%;
}

.btn-cg:hover {
  color: white;
  background-color: #0070ad;
  border: none;
}

.mat-icon-home {
  color: #2b0a3d;
  font-size: 20px;
  vertical-align: middle;
  padding-bottom: 3px;
}

.hoverContainer {
  height: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100000000;
  background-color: transparent;
}
.hoverMenu {
  position: absolute;
  display: none;
  height: 50px;
  left: 42.5%;
  text-align: center;
  padding-top: 7px;
  top: 0px;
  border: none;
  z-index: 1000000000;
  background: transparent;
}
.hoverMenu:hover {
  display: block;
  transition: 1s;
}
.hoverContainer:hover + .hoverMenu {
  display: block;
  transition: 1s;
}

.stopbutton {
  background-color: white;
  width: 157px;
  height: 36px;
  /* Primary/Capgemini blue */
  color: #0070ad;
  border: 2px solid #0070ad;
  border-radius: 30px;
  margin-bottom: 2px;
}
.stopbutton:hover {
  color: white;
  background-color: #0070ad;
  border: none;
}

/*Hover Menu */

.menuStyle {
  text-align: left;
  margin-left: -15px;
}
.stopStyle {
  justify-content: flex-end;
}

/* Hover menu ends */

.backgorund-container {
  position: absolute;
  left: 0;
  z-index: -1;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #f4f8fb;
}
.info {
  position: absolute;
  top: 5px;
  left: 83%;
}
.escape-info {
  position: absolute;
  top: 5px;
  left: 5px;
}


/* logout modal */
.text-weight{
  font-weight: 500;
}

.margin{
  padding-left: 6%;
} 

.icon{
  color: #0070AD;
  cursor: pointer;
}

/* .mat-icon{
  color: #0070AD;
  font-size: inherit;
  vertical-align: middle;
  padding-bottom: 3px;
} */

.spacing{
  max-width: 75%;
}

 .modal-header{
   border-bottom: none;
   padding-bottom: 0%;
 }
 .modal-body{
   padding: 2rem;
   padding-top: 1%;
 }

 .btn-basic{
  border: 2px solid grey;
  Width :125px;  
  border-radius: 30px;
}

.btn-custom {
  background-color: white;
  color: grey;
  cursor: pointer;
}


 .btn-cg-m{
  
  color: #0070AD;
  border-color:  #0070AD;

  }

  .btn-cg-m:hover{
    background-color: #0070AD;
    color: white;
  } 
  .title{
    color: #525151;
  }
  .Logo_nav{
    height: 30px;
    width: fit-content;
    cursor: default; 
    align-self: center;
    margin-left: 10px;
 }
