.bg-height{
  height: calc( 90vh - 50px );
  background-color: #f4f8fb
}




#icon {
  margin-left: 1.25vh;
  margin-right: 1.25vh;
  height: 6.5vh;
}


.title {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.25px;
  color: #2b0a3d;
}

.spinner {
  color: #0070AD;
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: 1000;
  opacity: 0.8;
}

.inner-container {

  overflow: hidden;
  margin-left: -2%;

}

.inner-container li {
  
  list-style: none;
  display: inline;
}


.spacing-2{
    margin-left: 25px;
}
.ul-style-links {
  list-style: none; 
  margin-left: 0px; 
  padding:0; 
}
.li-style-links{
  width:210px; 
  color: #0070AD; 
  text-decoration: underline; 
  padding-top: 10px;
}
.div-style-links{
  display:flex;
  flex-wrap:wrap;
   padding:0px
}



a {
  color: #12abdb;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.25px;
  text-decoration-line: underline;
  cursor: pointer;

}

.frame {

  margin-left: 5%;
  margin-right: 5%;
  background: white;
}

.slideshow-frame{
  margin-left: 1%;
  margin-right: 1%;
  background: transparent;
  height: 100%;
}

.selected{
  color: #033b4d;
}

.web-sec-3{
  width:100%; 
  height:100%;
}



.shadow{
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slideshow-bg{
  padding-left: 0%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
