.componentTitle {
  font-family: Ubuntu, sans-serif;
  font-size: 4.7vh;
  margin-top: 0px;
  margin-bottom: 5px;
  color: darkblue;
  letter-spacing: 0.12px;
}
select {
  border: none;
  outline: 0;
  width: 200px;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}
hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
