#reloadButton {
  max-width: 2vw;
  cursor: pointer;
}
#allImages {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  width: -webkit-fill-available;
}
#deleteButton {
  vertical-align: middle;
  margin-left: 0.5vw;
  width: 2vw;
  height: 2vw;
  cursor: pointer;
}

#bigImage {
  max-width: 150px;
  max-height: 100px;
  display: inline-block;
}
.onebyone {
  margin: 20px;
}
hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
