<!-- <div style="margin: 20px;">
  <h3>Images</h3>
  <hr>
<div *ngIf="galleryImages != null">
    <div id="allImages">
      <div class="onebyone" *ngFor="let image of galleryImages; index as i">
        <img id="bigImage" src="{{ image.ImagePath }}" />
        <img
          id="deleteButton"
          src="assets/layoutAssets/iframe/trash.svg"
          (click)="deleteImage(image.ImageId)"  
        />
       
      </div>
    </div>
  </div>
  
  
  <div class="center">

    <ngx-file-drop dropZoneLabel="Drop your images here" (onFileDrop)="dropped($event)" 
    (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          Upload your Images here
          <button type="button" (click)="openFileSelector()">Browse Files</button>
        </ng-template>
    </ngx-file-drop>
    <div class="upload-table">
        <table class="table">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody class="upload-name-style">
                <tr *ngFor="let item of files; let i=index">
                    <td><strong>{{ item.relativePath }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  </div> -->
