.emoji
{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-top: 25px;
}
h5{
    margin-bottom: 1rem;
}
.green{
    background-color:#2ab02f;
}
.red{
    color:#c40000;
}
.orange{
    color:#e09b3a;
}