
<div class="row">
  <div class="col-md-12" style=" font-weight: 500;">Team Spirit</div>
  <div class="col-md-12  mt-1" style="height:120px; overflow: hidden;">
    <div class="row">
      <div class="col-md-6">
        <div *ngIf="teamSpirit?.teamSpiritRating < 6.6">
          <div *ngIf="teamSpirit?.teamSpiritRating < 3.4;then content;else other_content"></div>
          <ng-template #content>
                <div
                  echarts
                  [options]="chartOption"
                  style="height: 200px; width: 200px"
                ></div>
          </ng-template>
          <ng-template #other_content>
            <div
                  echarts
                  [options]="chartOption"
                  style="height: 200px; width: 200px"
                ></div>
          </ng-template>
        </div>
        <div *ngIf="teamSpirit?.teamSpiritRating > 6.6">
            <div
              echarts
              [options]="chartOption"
              style="height: 200px; width: 200px"
            ></div>
        </div>
      </div>
        <div class="col-md-6" >
            <div *ngIf="teamSpirit?.teamSpiritRating < 6.6 && componentReady">
                <div *ngIf="teamSpirit?.teamSpiritRating < 3.4;">
                    <div ><img class="emoji" alt="" [src]="aws_asset+'Images/red.jpeg' "></div>
                </div>   
                <div *ngIf="teamSpirit?.teamSpiritRating > 3.3;">
                    <div><img class="emoji" alt="" [src]="aws_asset+'Images/orange.png' "></div>
                </div>
            </div>
            <div *ngIf="teamSpirit?.teamSpiritRating > 6.5 && componentReady">
                <div ><img class="emoji" alt="" [src]="aws_asset+'Images/green.jpeg' "></div>
            </div>
            <div *ngIf="!componentReady" style=" margin-top: 41px;
            margin-left: -74px;">
              <span class="mr-4" style="font-size: 16px; 
               color: gray">Data unavailable</span>
            </div>
        </div>
        
    </div>
  </div>
</div>

