<div class="col-md-10 pt-5">
  <div class="mt-5 text-left">
    <input
      type="radio"
      class="ml-5"
      id="jira"
      [checked]="selected === 1"
      value="1"
      (change)="changeSelected(1)"
    />
    <label style="color:#0070AD;" for="html">JIRA</label>

    <input
      type="radio"
      class="ml-5"
      id="sonar"
      [checked]="selected === 2"
      value="2"
      (change)="changeSelected(2)"
    />
    <label style="color:#0070AD;" for="html">SONAR</label>
  </div>

  <div class="mt-5">
    <span class="btn btn-primary btn-file" *ngIf="selected === 1">
      <span class="material-icons mat-icon">file_upload</span>
      <span style="font-size: 16px"> Upload Jira</span>
      <input
        type="file"
        accept=".xlsx , .xls , .csv"
        (change)="uploadFile($event, 'jira')"
      />
    </span>

    <span class="btn btn-primary btn-file" *ngIf="selected === 2">
      <span class="material-icons mat-icon">file_upload</span>
      <span style="font-size: 16px"> Upload Sonar</span>
      <input
        type="file"
        accept=".xlsx , .xls , .csv"
        (change)="uploadFile($event, 'sonar')"
      />
    </span>
  </div>
</div>
