.btn-file {
    position: relative;
    overflow: hidden;
    color: #0070AD;
    font-size: 16px;
    background-color: white;
    border: none;
    margin-top: 2%;
  }

  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;  
    cursor: inherit;
    display: block;
  }

  .mat-icon{
    color: #0070AD;
    cursor: pointer;
    font-size: inherit;
    vertical-align: middle;
    padding-bottom: 3px;

  }

  .radioButton{
    color: #0070AD;
    
  }
  .uploadbtn{
    margin-left: 107px;
   margin-top: 80px;
  }


  .btn-cg{


    Width :157px;
    Height :36px;
    
    
    /* Primary/Capgemini blue */
    color: #0070AD;
    border: 2px solid #0070AD;
    
    border-radius: 30px;
    
    }
    
    .btn-cg:hover{
    color: white;
    background-color: #0070AD;
    border: none;
    }
    
    .disabled {
    pointer-events: none;
    }
    