.btn-file {
    position: relative;
    overflow: hidden;
    color: #0070AD;
    font-size: 16px;
    background-color: white;
    border: none;
    margin-top: 2%;
  }

  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;  
    cursor: inherit;
    display: block;
  }

  .mat-icon{
    color: #0070AD;
    cursor: pointer;
    font-size: inherit;
    vertical-align: middle;
    padding-bottom: 3px;

  }

  .radioButton{
    color: #0070AD;
    
  }
  .uploadbtn{
    margin-left: 107px;
   margin-top: 80px;
  }

  .btn-cg{


    Width :157px;
    Height :36px;
    /* Primary/Capgemini blue */
    color: #0070AD;
    border: 2px solid #0070AD;
    border-radius: 30px;
    padding-top: 2%;
    }
    
    .btn-cg:hover{
    color: white;
    background-color: #0070AD;
    border: none;
    }
    
    .disabled {
    pointer-events: none;
    }
    
    th,td{
      max-height: 80px;
      margin: 0px;
      padding:0px
    }

    .spinnerPosition{
      position: absolute;
      width: 53%;
      bottom: 230px;
      left:30%;
      height: 104px;
      justify-content: center;
      align-items: center;
      text-align: center;
      backdrop-filter: blur(1px);
      z-index: 1;
  }
  .spinner-border {
    display: inline-block;
    color: #0070AD;
    width: 2rem;
    height: 2rem;
    margin-top: 34px;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
  }