<div class="pt-5">
  <div class="mt-5 text-left">
    <input
      type="radio"
      class="ml-5"
      id="jira"
      [checked]="selected === 1"
      value="1"
      (change)="changeSelected(1)"
    />
    <label style="color: #0070ad; margin-left: 5px;" for="html"> Jira</label>

    <input
      type="radio"
      class="ml-5"
      id="jira"
      [checked]="selected === 2"
      value="1"
      (change)="changeSelected(2)"
    />
    <label style="color: #0070ad; margin-left: 5px;" for="html"> Sonar</label>

    <input
      type="radio"
      class="ml-5"
      id="jira"
      [checked]="selected === 3"
      value="1"
      (change)="changeSelected(3)"
    />
    <label style="color: #0070ad; margin-left: 5px;" for="html"> Client Satisfaction</label>
  </div>

  <div class="mt-5">
    <div class="spinnerPosition" *ngIf="spinner" >
      <div class="spinner-border"></div>
    </div>
    <span class="btn btn-primary btn-file" *ngIf="selected === 1">
      <span class="material-icons mat-icon">file_upload</span>
      <span style="font-size: 16px"> Upload Jira Data</span>
      <input
        type="file"
        accept=".xlsx , .xls , .csv"
        (change)="uploadFile($event, 'jira')"
      />
    </span>

    <span class="btn btn-primary btn-file" *ngIf="selected === 2">
      <span class="material-icons mat-icon">file_upload</span>
      <span style="font-size: 16px"> Upload Sonar Data</span>
      <input
        type="file"
        accept=".xlsx , .xls , .csv, .json"
        (change)="uploadJSONFile($event, 'sonar')"
      />
    </span>

    <form style="margin-left: 100px;" class="col-md-8" [formGroup]="form" autocomplete="off" *ngIf="selected === 3" >
      <table class="table table-borderless">
        <caption></caption>
        <tbody>
          <tr>
            <th id="Team_code">Client satisfaction rating</th>
            <td>
              <div>
                <div class="form-group input-field">
                  <input style="width: 300px; "
                    class="form-control"
                    formControlName="clientRating"
                    type="number"
                  />
                </div>
                <div style="min-height: 40px; margin-right: 40px;">
                  <label
                    class="text-danger"
                    *ngIf="
                      form.get('clientRating').touched &&
                      form.get('clientRating').errors?.required
                    "
                  >
                    Required Field
                  </label>
                  <label
                  class="text-danger"
                  *ngIf="
                    form.get('clientRating').errors?.min ||
                    form.get('clientRating').errors?.max
                  "
                >
                  Client rating must be between 1 - 10
                </label>

                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div style="display: flex; justify-content: center">
                <div class="button">
                  <button
                    class="btn btn-outline btn-cg"
                    [ngClass]="{ disabled: !form.valid }"
                    (click)="uploadClientRating()"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </form>

    <div *ngIf="errors.length>0" class="text-danger col-md-12" >
     
      <div class="row">
        <div class="col-md-5"></div>
        <div class="text-left ml-4">
          <div class="mt-3 mb-2 text-dark"><strong> Errors Found : </strong></div>
          <div *ngFor="let error of errors">{{error}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
