<div class="velocityComparison">
    <div class="internal-brdr">
        <h3 class="title">Velocity</h3>
    </div>
    <div class="mt-2">
        <div>
            <h1 class="status">Avg : {{velocity.Avg}}</h1>
        </div>
        <div class="pl-5 data-align justify-content-center">
            <div class="row mt-3">
                <h5>Commited : &nbsp; </h5>
                <h3 class="margin-top">{{velocity.Committed}}</h3>
            </div>
            <div class="row mt-1">
                <h5>Completed : &nbsp;</h5>
                <h3 class="margin-top">{{velocity.Completed}}</h3>
            </div>
        </div>
    </div>
</div>