.velocityComparison
{
   border: 1px solid black;
    height: 219px ;
    width:  349px;
    border-radius: 5%;
   background-color: white;
   margin-left: 25px;
}
.internal-brdr{
    border-bottom: 1px solid black;
}
 
.title{
    text-align: center;
    
}

.brdr{
    border: 1px solid black;
    height: 219px ;
    width:  349px;
    border-radius: 5%;
   background-color: white;
   margin-left: 25px;
}
.number{
    text-align: center;
    color: black;
}
.status{
    margin-bottom: 0%;
    text-align: center;
}
.data-align{
    padding-left: 4%;
    align-items: center;
    margin-top: 20px;
    margin-left: 58px;
}
h1{
    color:#0d5ad9;
}
.margin-top{
    margin-top: -2px;
}