<div style="background-color: white">
  <!-- <div class="settingMenu">
<div >
<span *ngFor="let permission of generalService.getPermissions()">
  <span *ngIf="generalService.addTeam == permission">
    <input id="teamButton"

          type="submit"
       
          value="Team"
          class="btn solid"
          (click)="openTeamMenu()"
        />
      
  </span>
</span>


<span  *ngFor="let permission of generalService.getPermissions()">
  <span *ngIf="generalService.addGuest == permission">
    
    <input id="guestButton"
    type="submit"
 
    value="Guest"
    class="btn solid"
    (click)="openGuestMenu()"
    
  />
  </span>
</span>



<span *ngFor="let permission of generalService.getPermissions()">
  <span *ngIf="generalService.teamConfiguration == permission && generalService.showNavBarIcons">
    
    <input id="currentTeamButton"
          type="submit"       
          value="Setting : {{teamName}}"
          class="btn solid"
          (click)="openCurrentTeamMenu()"
         
        />
  </span>
</span>
</div>
</div> -->
  <div id="wrapper" class="row">
    <div style="height: 40px; width: 100%; background-color: #f1f8fc">
      <!-- <h4 style="margin-top: 3px; margin-left: 15px;"> Configuration</h4> -->
    </div>
    <div id="side-menu">
      <div *ngIf="visibilityService.showTeamMenu">
        <app-team></app-team>
      </div>
      <div *ngIf="visibilityService.showGuestMenu">
        <app-guest></app-guest>
      </div>
      <div *ngIf="visibilityService.showCurrentTeamMenu">
        <app-setup></app-setup>
      </div>
    </div>
    <div id="side-container">
      <div *ngIf="visibilityService.getShowAddTeamForm()">
        <app-add-team></app-add-team>
      </div>
      <div *ngIf="visibilityService.getViewAllTeams()">
        <app-view-all-teams></app-view-all-teams>
      </div>
      <!-- 
    <div *ngIf="visibilityService.getShowAddGuest()">
      <app-add-guest></app-add-guest>
    </div>
    <div *ngIf="visibilityService.getViewAllGuests()">
      <app-view-all-guests></app-view-all-guests>
    </div> -->
      <!-- <div *ngIf="visibilityService.getShowLogo()">
      <app-configure-logo></app-configure-logo>
    </div> -->
      <!-- <div *ngIf="visibilityService.getShowMeetingLink()">
      <app-configure-meeting-links></app-configure-meeting-links>
    </div> -->
      <div *ngIf="visibilityService.getShowTeamLink()">
        <app-configure-team-links></app-configure-team-links>
      </div>
      <div *ngIf="visibilityService.getShowMultimedia()">
        <app-configure-multimedia></app-configure-multimedia>
      </div>
      <div *ngIf="visibilityService.getShowVideo()">
        <app-configure-videos></app-configure-videos>
      </div>
      <div *ngIf="visibilityService.getShowSendToTeamSpirit()">
        <app-configure-team-spirit></app-configure-team-spirit>
      </div>
      <div *ngIf="visibilityService.getShowAddTeamMember()">
        <app-add-team-member></app-add-team-member>
      </div>
      <div *ngIf="visibilityService.getShowViewTeamMember()">
        <app-view-all-team-members></app-view-all-team-members>
      </div>
      <div *ngIf="visibilityService.getShowEditTeam()">
        <app-edit-team></app-edit-team>
      </div>
    </div>
  </div>
</div>
