<div class="brdr"
    [ngStyle]="{'border-color':(burnDown.status === 'Ahead Time' || burnDown.status === 'On Time') ? 'green' : 'red' }">
    <div class="internal-brdr">
        <h3 class="title">Burndown</h3>
    </div>
    <div class="mt-2">
        <div
            [ngStyle]="{'color':(burnDown.status === 'Ahead Time' || burnDown.status === 'On Time') ? 'green' : 'red' }">
            <h1 class="title status">{{burnDown.status}}</h1>
            <div *ngIf="burnDown.status != 'On Time'">
                <div *ngIf="burnDown.status=== 'Behind Time' then content else other_content"> </div>
                <ng-template #content>
                    <h5 class="number">(<span>-</span>{{burnDown.count}})</h5>
                </ng-template>
                <ng-template #other_content>
                    <h5 class="number">(<span>+</span>{{burnDown.count}})</h5>
                </ng-template>
            </div>
        </div>
        <div class="pl-5">
            <div class="row mt-3">
                <h5>Remaining Days : </h5>
                <h3 class="data-align">{{burnDown.remainingDays}}</h3>
            </div>
            <div class="row mt-1">
                <h5>Remaining Work : </h5>
                <h3 class="data-align">{{burnDown.remainingWork}}</h3>
            </div>
        </div>
    </div>
</div>