.codeQuality
{
    
    background-image: url("../../../assets/Grecw.png");
    height: 219px ;
    width:  349px;
    margin: 20px;
    border-radius: 5%;
    background-size: cover;
    margin-left: 55px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; 
   
}
.codeQuality2
{
    
    background-image: url("../../../assets/redcodeQuality .png");
    height: 219px ;
    width:  349px;
    margin: 20px;
    border-radius: 5%;
    background-size: cover;
    margin-left: 55px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; 
   
}

.TeamSpirit
{
    
    background-image: url("../../../assets/teamspirit.png");
    height: 219px ;
    width:  349px;
    margin: 20px;
    border-radius: 5%;
    background-size: cover;
    margin-left: 55px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; 
   
}

.ClientSatisfaction
{
    
    background-image: url("../../../assets/Clientsatisfaction.png");
    height: 219px ;
    width:  300px;
    margin: 20px;
    border-radius: 10%;
    background-size: cover;
    margin-left: 55px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; 
   
}
.Bugs
{
    position: relative;
    top: 64px;
    left: 55px;
}
.Debt
{
    position: relative;
    top: 92px;
    left: 55px;
}
.TotalCoverage
{
    position: relative;
    top: 56px;
    left: 185px;
}
.Gauge{
    position: relative;
    left: -30px;
    top: 52px;
}
.ClientGauge
{
    position: relative;
    left: 10px;
    top: 52px; 
}
.circle
{
    height: 80px;
    width: 80px;
    border: 3px solid white;
    border-radius: 50%;
    top: -95px;
    left: 240px;
    position: relative;
    background-color: white;
}