/* .brdr{
    border: 1px solid black;
    height: 200px ;
    width:  349px;
    border-radius: 5%;
   background-color: white;
   margin-left: 25px;
} */
h5 {
  margin-bottom: 1rem;
}

/* .title{
    
    margin-left: 5%;
    margin-top: 3%;
    font-weight: 600;
    color: #6b6b6b;
    
}
.number{
    text-align: center;
    color: black;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-top: 19px;
}
.status{
    margin-bottom: 7%;
    text-align: center;
    margin-top: 10px;
    margin-left: 34px;
}
.status-mrgn
{
    margin-top: 0px;
    margin-left: 0px;

}
.spacing{
    margin-left: 10%;
    margin-top: 17px;
}
.data-spacing{
    margin-left: 0%;
}
.data-align{
    padding-left: 4%;
    margin-bottom: 0%;
    margin-top: -1%;
}
.label
{
    justify-content: center;
    text-align: center;
    margin-top: 6px;
    margin-left: 5px;

}
.days h2
{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 36px;
    
}

.label h5
{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #524e4e;
    font-size: 14px;
    text-align: left;
}
.spacestyle
{
    padding: 5px 50px;
}


 */
