/* 
  .text-danger {
    color: red;
  }

  .dropdown{
    padding-bottom: 20%;
  }
  .danger{
    border: 1px solid red;
  }


  
  .container {
    
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
  }


  .dropdown-item{
    z-index: 1000001 !important;
  }
  
  .forms-container {
  
    width: 100%;
    height: 100%;
   
  }
  
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
    
  .title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
  }
  
  .input-field {
    max-width: 220px;
    width: 100%;
    background-color: #f0f0f0;
    margin-top: 20px;
    height: 35px;
    border-radius: 35px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
  .input-field i {
    text-align: center;
    line-height: 35px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  .input-field input {
    background: none;

    outline: none;
    border-left: none;
    border: none;
    height: 31px;
   
    line-height: 31;
    font-weight: 100;
    font-size: 1.0rem;
    color: #333;
  }
  
  .input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
  }

  .enable-btn {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 31px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }

  .enable-btn:hover {
    background-color: #4d84e2;
  }
  .enable-btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
  }
  
  .disable-btn {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #80aaf1;
    opacity: 0.6;
    border: none;
    outline: none;
    height: 31px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  .btn{
      width : 220px ;
      background-color:  #f0f0f0;
      color: #333;
      height: 35px;
    border-radius: 35px;
    margin: 10px;
  } */
  .dropdown{
    height: 35px;

}
.dropdown-item{
  cursor: pointer;
}