.button {
  width: 100px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 35px;
  border-radius: 35px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

.btn {
  width: 100px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 35px;
  border-radius: 35px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}
