<div class="velocityComparison">
    <div>
        <h5 class="title">Velocity</h5>
    </div>
    <div>
       <!--  <div class = "row">
           <h4> Average Velocity :</h4> <h2 class="status"> {{velocity.Avg}}</h2>
        </div> -->

        <div class="row Avg mt-2">
            <div>
            <h2 class="avgvalue">{{velocity.Avg}}</h2>
        </div>
            <h4 class="title2">Average Velocity</h4>
            
        </div>

        <!-- <div class="row justify-content-between pl-5 pr-5 pb-2"> -->
            <div class="row committed mt-1">
                <div>
                <h3 class="value-style">{{velocity.Committed}}</h3>
            </div>
                <h5 class="tile-style">Committed </h5>
                
            </div>
            <div class="row completed mt-1">
                <div>
                <h3 class="value-style">{{velocity.Completed}}</h3>
            </div>
                <h5 class="tile-style pl-2">Completed</h5>
               
            </div>
        <!-- </div> -->
    </div>
</div>