
<div *ngIf="clientStatus.clientSatisfactionRating < 6.6 ">
    <div *ngIf="clientStatus.clientSatisfactionRating < 3.4 then content else other_content"> </div>
    <ng-template #content>
        <div class="ClientSatisfaction" id="critical" >
            
            <div class='ClientGauge'>
                <div echarts [options]="chartOption" class="demo-chart" style="height: 170px; width: 170px;"></div>
            </div>
            <div class="circle" ><img class="emoji" src="../assets/Images/sademoji.jpg"></div>
        </div>
    </ng-template>
    <ng-template #other_content>
        <div class="ClientSatisfaction" id="normal">
            
            <div class='ClientGauge'>
                <div echarts [options]="chartOption" class="demo-chart" style="height: 170px; width: 170px;"></div>
            </div>
            
            <div class="circle"><img class="emoji" src="../assets/Images/speechless emoji.jpg"></div>
        </div>
    </ng-template>
   
    
</div>
<div  class="ClientSatisfaction" id="good" *ngIf ="clientStatus.clientSatisfactionRating > 6.6">
    
    <div class='ClientGauge'>
        <div echarts [options]="chartOption" class="demo-chart" style="height: 170px; width: 170px;"></div>
    </div>
    <div class="circle" *ngIf = "clientStatus.clientSatisfactionRating > 6.6"><img class="emoji" src="../assets/Images/happy face emoji.png"></div>
</div>
<h4 class="title"><u>Client Satisfaction</u></h4>

<!-- <div class="ClientSatisfaction">
    <div class='ClientGauge'>
        <div echarts [options]="chartOption" class="demo-chart" style="height: 170px; width: 170px;"></div>
    </div>
    <div class="circle" *ngIf = "clientStatus.clientSatisfactionRating < 3.4"><img class="emoji" src="../assets/sademoji.jpg"></div>
    <div class="circle" *ngIf = "clientStatus.clientSatisfactionRating < 6.7 && clientStatus.clientSatisfactionRating > 3.3"><img class="emoji" src="../assets/speechless emoji.jpg"></div>
    <div class="circle" *ngIf = "clientStatus.clientSatisfactionRating > 6.6"><img class="emoji" src="../assets/happy face emoji.png"></div>
    
</div> -->
